/* PC */
@media screen and (min-width: 992px) {
  .hamburger-btn {
    display: none;
  }
  .navbar .mobile-menu {
    display: none;
  }
}

/* Tablet and mobile */
@media screen and (max-width: 991px) {
  .navbar {
    position: relative;
  }
  .navbar ul {
    display: none;
  }
  .navbar img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .hamburger-btn {
    height: 24px;
  }

  .navbar .overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .navbar #toggle-menu:checked ~ .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    opacity: 1;
    visibility: visible;
  }

  .navbar .mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    background-color: white;
    z-index: 100;
    translate: -100% 0;
    transition: translate 0.3s;
  }
  .navbar #toggle-menu:checked ~ .mobile-menu {
    translate: 0;
  }

  .navbar .mobile-menu ul {
    display: block;
    margin-left: 0;
    padding: 24px;
  }

  .navbar .mobile-menu ul li {
    margin-bottom: 24px;
  }

  .navbar .mobile-menu ul li a {
    font-size: 2rem;
  }
  .navbar .mobile-menu .separate {
    border: 1px solid #ededed;
  }
  .navbar .mobile-menu .actions {
    padding-top: 24px;
    margin-left: 50px;
    display: block;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
  .navbar .actions {
    display: none;
  }
}
